.about {
  scroll-margin-top: calc(var(--h-header) + 10em);

  margin-top: 0.3rem;
  &__container {
    height: 8.8rem;
    position: relative;
    border-radius: 30px;
    padding: 0 2rem;

    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    gap: 2em;
    align-items: center;
    transform: translateY(-46%);
  }

  &__hand {
    height: 5rem;

    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-15%);
    position: relative;
    img {
      animation: hand 1.4s infinite alternate;
    }
  }

  @keyframes hand {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }

  &__social {
    cursor: pointer;
    position: absolute;
    bottom: -72%;

    display: flex;
    gap: 10px;
    font-size: 1.8rem;

    a {
      color: white;
      height: min-content;
      line-height: 100%;
    }
  }

  @include mobile {
    &__hand {
      margin-bottom: 2rem;
    }

    &__social {
      bottom: -90%;
      font-size: 3rem;
    }
  }

  @include tablet-portrait {
    &__social {
      bottom: -110%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      right: 50%;
      font-size: 2rem;
      transform: translateX(50%);
      gap: 3px;
    }
  }

  .person {
    &__img {
      border: 4px solid white;
      height: 10rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      img {
        margin-top: -24px;
      }
    }

    &__info {
      text-align: center;

      border: 2px dashed #fff;
      margin: 0 auto;
      margin-top: -1.6rem;
      padding-top: 2rem;
      padding-bottom: 0.8rem;
      border-radius: 20px;
      width: 80%;

      h3 {
        color: white;
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-25);
      }
      span {
        color: white;
        font-size: var(--normal-font-size);
      }
    }
  }

  @include mobile {
    &__container {
      height: auto;
      margin-top: 1rem;
    }

    &__box {
      grid-template-columns: 1fr;
      transform: none;
      padding-bottom: 2rem;
    }

    &__hand {
      transform: translateY(-50%);
    }

    .person {
      // margin-bottom: var(--mb-2);
      &__img {
        height: 14rem;
        margin-bottom: var(--mb-1);
      }

      &__info {
        text-align: center;
        margin-bottom: 1.2rem;
        margin-top: -2.6rem;
        width: 80%;
        h3 {
          color: white;
          font-size: 1.6rem;
        }
        span {
          color: white;
          font-size: 1.2rem;
        }
      }
    }
  }

  @include tablet-portrait {
    &__box {
      gap: 0.3rem;
    }
    .person {
      &__info {
        width: 100%;
      }
    }
  }

  @include tablet-landscape {
    &__box {
      gap: 0rem;
    }
    .person {
      &__info {
        width: 80%;
      }
    }
  }
}
