.about {
  scroll-margin-top: calc(var(--h-header) + 8em);

  margin-top: 0.3rem;
  &__container {
    height: 10em;
    position: relative;
    border-radius: 30px;
    padding: 0 2rem;

    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    align-items: center;
    transform: translateY(-46%);
  }

  &__hand {
    height: 5rem;

    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-15%);
  }

  .person {
    &__img {
      border: 4px solid white;
      height: 10rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      img {
        margin-top: -24px;
      }
    }

    &__info {
      text-align: center;

      h3 {
        color: white;
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-25);
      }
      span {
        color: white;
        font-size: var(--normal-font-size);
      }
    }
  }

  @include mobile {
    &__container {
      height: auto;
      margin-top: 1rem;
    }

    &__box {
      grid-template-columns: 1fr;
      transform: none;
    }

    &__hand {
      transform: translateY(-50%);
    }

    .person {
      // margin-bottom: var(--mb-2);
      &__img {
        height: 14rem;
        margin-bottom: var(--mb-1);
      }

      &__info {
        text-align: center;
        margin-bottom: 1.2rem;

        h3 {
          color: white;
          font-size: 1.6rem;
        }
        span {
          color: white;
          font-size: 1.2rem;
        }
      }
    }
  }
}
