.tools {
  scroll-margin-top: 3.2rem;
  margin-top: 80px;

  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    border: 1px solid black;
    border-radius: 4px;

    &::before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: black;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: inherit;
      background-image: linear-gradient(
        to right,
        transparent calc(25%),
        black calc(25% + 2px),
        transparent calc(25% + 2px),
        transparent calc(50%),
        black calc(50% + 2px),
        transparent calc(50% + 2px),
        transparent calc(75%),
        black calc(75% + 2px),
        transparent calc(75% + 2px)
      );
      pointer-events: none;
    }

    &__item {
      padding: 40px;
      // transition: filter 200ms linear;
      // filter: blur(2px);

      // &:hover {
      //   filter: none;
      // }

      img {
        object-fit: cover;
      }
    }
  }
  @include tablet-portrait {
    &__images {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);

      text-align: center;

      &::before {
        height: 100%;
        width: 0.1px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: inherit;
        background-image: linear-gradient(
          to top,
          transparent calc(25%),
          black calc(25% + 2px),
          transparent calc(25% + 2px),
          transparent calc(50%),
          black calc(50% + 2px),
          transparent calc(50% + 2px),
          transparent calc(75%),
          black calc(75% + 2px),
          transparent calc(75% + 2px)
        );
        pointer-events: none;
      }
    }
  }

  @include mobile {
    &__images {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);

      text-align: center;

      &::before {
        height: 100%;
        width: 0.1px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: inherit;
        background-image: linear-gradient(
          to top,
          transparent calc(25%),
          black calc(25% + 2px),
          transparent calc(25% + 2px),
          transparent calc(50%),
          black calc(50% + 2px),
          transparent calc(50% + 2px),
          transparent calc(75%),
          black calc(75% + 2px),
          transparent calc(75% + 2px)
        );
        pointer-events: none;
      }
    }
  }
}
